.flag {
    width: 16px;
    height: 11px;
    width: 16px;
    display: block;
    float: left;
    background: url(flags.png) no-repeat;
    margin-right: 5px;
    margin-top: 2px;
}

.flag.flag-ad,
.flag.flag-and {
    background-position: -16px 0
}

.flag.flag-ae,
.flag.flag-are {
    background-position: -32px 0
}

.flag.flag-af,
.flag.flag-afg {
    background-position: -48px 0
}

.flag.flag-ag,
.flag.flag-atg {
    background-position: -64px 0
}

.flag.flag-ai,
.flag.flag-aia {
    background-position: -80px 0
}

.flag.flag-al,
.flag.flag-alb {
    background-position: -96px 0
}

.flag.flag-am,
.flag.flag-arm {
    background-position: -112px 0
}

.flag.flag-an,
.flag.flag-ant {
    background-position: -128px 0
}

.flag.flag-ao,
.flag.flag-ago {
    background-position: -144px 0
}

.flag.flag-ar,
.flag.flag-arg {
    background-position: -160px 0
}

.flag.flag-as,
.flag.flag-asm {
    background-position: -176px 0
}

.flag.flag-at,
.flag.flag-aut {
    background-position: -192px 0
}

.flag.flag-au,
.flag.flag-aus {
    background-position: -208px 0
}

.flag.flag-aw,
.flag.flag-abw {
    background-position: -224px 0
}

.flag.flag-az,
.flag.flag-aze {
    background-position: -240px 0
}

.flag.flag-ba,
.flag.flag-bih {
    background-position: 0 -11px
}

.flag.flag-bb,
.flag.flag-brb {
    background-position: -16px -11px
}

.flag.flag-bd,
.flag.flag-bgd {
    background-position: -32px -11px
}

.flag.flag-be,
.flag.flag-bel {
    background-position: -48px -11px
}

.flag.flag-bf,
.flag.flag-bfa {
    background-position: -64px -11px
}

.flag.flag-bg,
.flag.flag-bgr {
    background-position: -80px -11px
}

.flag.flag-bh,
.flag.flag-bhr {
    background-position: -96px -11px
}

.flag.flag-bi,
.flag.flag-bdi {
    background-position: -112px -11px
}

.flag.flag-bj,
.flag.flag-ben {
    background-position: -128px -11px
}

.flag.flag-bm,
.flag.flag-bmu {
    background-position: -144px -11px
}

.flag.flag-bn,
.flag.flag-brn {
    background-position: -160px -11px
}

.flag.flag-bo,
.flag.flag-bol {
    background-position: -176px -11px
}

.flag.flag-br,
.flag.flag-bra {
    background-position: -192px -11px
}

.flag.flag-bs,
.flag.flag-bhs {
    background-position: -208px -11px
}

.flag.flag-bt,
.flag.flag-btn {
    background-position: -224px -11px
}

.flag.flag-bv,
.flag.flag-bvt {
    background-position: -240px -11px
}

.flag.flag-bw,
.flag.flag-bwa {
    background-position: 0 -22px
}

.flag.flag-by,
.flag.flag-blr {
    background-position: -16px -22px
}

.flag.flag-bz,
.flag.flag-blz {
    background-position: -32px -22px
}

.flag.flag-ca,
.flag.flag-can {
    background-position: -48px -22px
}

.flag.flag-catalonia {
    background-position: -64px -22px
}

.flag.flag-cd,
.flag.flag-cod {
    background-position: -80px -22px
}

.flag.flag-cf,
.flag.flag-caf {
    background-position: -96px -22px
}

.flag.flag-cg,
.flag.flag-cog {
    background-position: -112px -22px
}

.flag.flag-ch,
.flag.flag-che {
    background-position: -128px -22px
}

.flag.flag-ci,
.flag.flag-civ {
    background-position: -144px -22px
}

.flag.flag-ck,
.flag.flag-cok {
    background-position: -160px -22px
}

.flag.flag-cl,
.flag.flag-chl {
    background-position: -176px -22px
}

.flag.flag-cm,
.flag.flag-cmr {
    background-position: -192px -22px
}

.flag.flag-cn,
.flag.flag-chn {
    background-position: -208px -22px
}

.flag.flag-co,
.flag.flag-col {
    background-position: -224px -22px
}

.flag.flag-cr,
.flag.flag-cri {
    background-position: -240px -22px
}

.flag.flag-cu,
.flag.flag-cub {
    background-position: 0 -33px
}

.flag.flag-cv,
.flag.flag-cpv {
    background-position: -16px -33px
}

.flag.flag-cw {
    background-position: -32px -33px
}

.flag.flag-cy,
.flag.flag-cyp {
    background-position: -48px -33px
}

.flag.flag-cz,
.flag.flag-cze {
    background-position: -64px -33px
}

.flag.flag-de,
.flag.flag-deu {
    background-position: -80px -33px
}

.flag.flag-dj,
.flag.flag-dji {
    background-position: -96px -33px
}

.flag.flag-dk,
.flag.flag-dnk {
    background-position: -112px -33px
}

.flag.flag-dm,
.flag.flag-dma {
    background-position: -128px -33px
}

.flag.flag-do,
.flag.flag-dom {
    background-position: -144px -33px
}

.flag.flag-dz,
.flag.flag-dza {
    background-position: -160px -33px
}

.flag.flag-ec,
.flag.flag-ecu {
    background-position: -176px -33px
}

.flag.flag-ee,
.flag.flag-est {
    background-position: -192px -33px
}

.flag.flag-eg,
.flag.flag-egy {
    background-position: -208px -33px
}

.flag.flag-eh,
.flag.flag-esh {
    background-position: -224px -33px
}

.flag.flag-england {
    background-position: -240px -33px
}

.flag.flag-er,
.flag.flag-eri {
    background-position: 0 -44px
}

.flag.flag-es,
.flag.flag-esp {
    background-position: -16px -44px
}

.flag.flag-et,
.flag.flag-eth {
    background-position: -32px -44px
}

.flag.flag-eu,
.flag.flag-eur {
    background-position: -48px -44px
}

.flag.flag-fi,
.flag.flag-fin {
    background-position: -64px -44px
}

.flag.flag-fj,
.flag.flag-fji {
    background-position: -80px -44px
}

.flag.flag-fk,
.flag.flag-flk {
    background-position: -96px -44px
}

.flag.flag-fm,
.flag.flag-fsm {
    background-position: -112px -44px
}

.flag.flag-fo,
.flag.flag-fro {
    background-position: -128px -44px
}

.flag.flag-fr,
.flag.flag-fra {
    background-position: -144px -44px
}

.flag.flag-ga,
.flag.flag-gab {
    background-position: -160px -44px
}

.flag.flag-gb,
.flag.flag-gbr {
    background-position: -176px -44px
}

.flag.flag-gd,
.flag.flag-grd {
    background-position: -192px -44px
}

.flag.flag-ge,
.flag.flag-geo {
    background-position: -208px -44px
}

.flag.flag-gf,
.flag.flag-guf {
    background-position: -224px -44px
}

.flag.flag-gg,
.flag.flag-ggy {
    background-position: -240px -44px
}

.flag.flag-gh,
.flag.flag-gha {
    background-position: 0 -55px
}

.flag.flag-gi,
.flag.flag-gib {
    background-position: -16px -55px
}

.flag.flag-gl,
.flag.flag-grl {
    background-position: -32px -55px
}

.flag.flag-gm,
.flag.flag-gmb {
    background-position: -48px -55px
}

.flag.flag-gn,
.flag.flag-gin {
    background-position: -64px -55px
}

.flag.flag-gp,
.flag.flag-glp {
    background-position: -80px -55px
}

.flag.flag-gq,
.flag.flag-gnq {
    background-position: -96px -55px
}

.flag.flag-gr,
.flag.flag-grc {
    background-position: -112px -55px
}

.flag.flag-gs {
    background-position: -128px -55px
}

.flag.flag-gt,
.flag.flag-gtm {
    background-position: -144px -55px
}

.flag.flag-gu,
.flag.flag-gum {
    background-position: -160px -55px
}

.flag.flag-gw,
.flag.flag-gnb {
    background-position: -176px -55px
}

.flag.flag-gy,
.flag.flag-guy {
    background-position: -192px -55px
}

.flag.flag-hk,
.flag.flag-hkg {
    background-position: -208px -55px
}

.flag.flag-hm,
.flag.flag-hmd {
    background-position: -224px -55px
}

.flag.flag-hn,
.flag.flag-hnd {
    background-position: -240px -55px
}

.flag.flag-hr,
.flag.flag-hrv {
    background-position: 0 -66px
}

.flag.flag-ht,
.flag.flag-hti {
    background-position: -16px -66px
}

.flag.flag-hu,
.flag.flag-hun {
    background-position: -32px -66px
}

.flag.flag-id,
.flag.flag-idn {
    background-position: -48px -66px
}

.flag.flag-ie,
.flag.flag-irl {
    background-position: -64px -66px
}

.flag.flag-il,
.flag.flag-isr {
    background-position: -80px -66px
}

.flag.flag-im,
.flag.flag-imn {
    background-position: -96px -66px
}

.flag.flag-in,
.flag.flag-ind {
    background-position: -112px -66px
}

.flag.flag-io,
.flag.flag-iot {
    background-position: -128px -66px
}

.flag.flag-iq,
.flag.flag-irq {
    background-position: -144px -66px
}

.flag.flag-ir,
.flag.flag-irn {
    background-position: -160px -66px
}

.flag.flag-is,
.flag.flag-isl {
    background-position: -176px -66px
}

.flag.flag-it,
.flag.flag-ita {
    background-position: -192px -66px
}

.flag.flag-je,
.flag.flag-jey {
    background-position: -208px -66px
}

.flag.flag-jm,
.flag.flag-jam {
    background-position: -224px -66px
}

.flag.flag-jo,
.flag.flag-jor {
    background-position: -240px -66px
}

.flag.flag-jp,
.flag.flag-jpn {
    background-position: 0 -77px
}

.flag.flag-ke,
.flag.flag-ken {
    background-position: -16px -77px
}

.flag.flag-kg,
.flag.flag-kgz {
    background-position: -32px -77px
}

.flag.flag-kh,
.flag.flag-khm {
    background-position: -48px -77px
}

.flag.flag-ki,
.flag.flag-kir {
    background-position: -64px -77px
}

.flag.flag-km,
.flag.flag-com {
    background-position: -80px -77px
}

.flag.flag-kn,
.flag.flag-kna {
    background-position: -96px -77px
}

.flag.flag-kp,
.flag.flag-prk {
    background-position: -112px -77px
}

.flag.flag-kr,
.flag.flag-kor {
    background-position: -128px -77px
}

.flag.flag-kw,
.flag.flag-kwt {
    background-position: -144px -77px
}

.flag.flag-ky,
.flag.flag-cym {
    background-position: -160px -77px
}

.flag.flag-kz,
.flag.flag-kaz {
    background-position: -176px -77px
}

.flag.flag-la,
.flag.flag-lao {
    background-position: -192px -77px
}

.flag.flag-lb,
.flag.flag-lbn {
    background-position: -208px -77px
}

.flag.flag-lc,
.flag.flag-lca {
    background-position: -224px -77px
}

.flag.flag-li,
.flag.flag-lie {
    background-position: -240px -77px
}

.flag.flag-lk,
.flag.flag-lka {
    background-position: 0 -88px
}

.flag.flag-lr,
.flag.flag-lbr {
    background-position: -16px -88px
}

.flag.flag-ls,
.flag.flag-lso {
    background-position: -32px -88px
}

.flag.flag-lt,
.flag.flag-ltu {
    background-position: -48px -88px
}

.flag.flag-lu,
.flag.flag-lux {
    background-position: -64px -88px
}

.flag.flag-lv,
.flag.flag-lva {
    background-position: -80px -88px
}

.flag.flag-ly,
.flag.flag-lby {
    background-position: -96px -88px
}

.flag.flag-ma,
.flag.flag-mar {
    background-position: -112px -88px
}

.flag.flag-mc,
.flag.flag-mco {
    background-position: -128px -88px
}

.flag.flag-md,
.flag.flag-mda {
    background-position: -144px -88px
}

.flag.flag-me,
.flag.flag-mne {
    background-position: -160px -88px
}

.flag.flag-mg,
.flag.flag-mdg {
    background-position: -176px -88px
}

.flag.flag-mh,
.flag.flag-mhl {
    background-position: -192px -88px
}

.flag.flag-mk,
.flag.flag-mkd {
    background-position: -208px -88px
}

.flag.flag-ml,
.flag.flag-mli {
    background-position: -224px -88px
}

.flag.flag-mm,
.flag.flag-mmr {
    background-position: -240px -88px
}

.flag.flag-mn,
.flag.flag-mng {
    background-position: 0 -99px
}

.flag.flag-mo,
.flag.flag-mac {
    background-position: -16px -99px
}

.flag.flag-mp,
.flag.flag-mnp {
    background-position: -32px -99px
}

.flag.flag-mq,
.flag.flag-mtq {
    background-position: -48px -99px
}

.flag.flag-mr,
.flag.flag-mrt {
    background-position: -64px -99px
}

.flag.flag-ms,
.flag.flag-msr {
    background-position: -80px -99px
}

.flag.flag-mt,
.flag.flag-mlt {
    background-position: -96px -99px
}

.flag.flag-mu,
.flag.flag-mus {
    background-position: -112px -99px
}

.flag.flag-mv,
.flag.flag-mdv {
    background-position: -128px -99px
}

.flag.flag-mw,
.flag.flag-mwi {
    background-position: -144px -99px
}

.flag.flag-mx,
.flag.flag-mex {
    background-position: -160px -99px
}

.flag.flag-my,
.flag.flag-mys {
    background-position: -176px -99px
}

.flag.flag-mz,
.flag.flag-moz {
    background-position: -192px -99px
}

.flag.flag-na,
.flag.flag-nam {
    background-position: -208px -99px
}

.flag.flag-nc,
.flag.flag-ncl {
    background-position: -224px -99px
}

.flag.flag-ne,
.flag.flag-ner {
    background-position: -240px -99px
}

.flag.flag-nf {
    background-position: 0 -110px
}

.flag.flag-ng,
.flag.flag-nga {
    background-position: -16px -110px
}

.flag.flag-ni,
.flag.flag-nic {
    background-position: -32px -110px
}

.flag.flag-nl,
.flag.flag-nld {
    background-position: -48px -110px
}

.flag.flag-no,
.flag.flag-nor {
    background-position: -64px -110px
}

.flag.flag-np,
.flag.flag-npl {
    background-position: -80px -110px
}

.flag.flag-nr,
.flag.flag-nru {
    background-position: -96px -110px
}

.flag.flag-nu,
.flag.flag-niu {
    background-position: -112px -110px
}

.flag.flag-nz,
.flag.flag-nzl {
    background-position: -128px -110px
}

.flag.flag-om,
.flag.flag-omn {
    background-position: -144px -110px
}

.flag.flag-pa,
.flag.flag-pan {
    background-position: -160px -110px
}

.flag.flag-pe,
.flag.flag-per {
    background-position: -176px -110px
}

.flag.flag-pf,
.flag.flag-pyf {
    background-position: -192px -110px
}

.flag.flag-pg,
.flag.flag-png {
    background-position: -208px -110px
}

.flag.flag-ph,
.flag.flag-phl {
    background-position: -224px -110px
}

.flag.flag-pk,
.flag.flag-pak {
    background-position: -240px -110px
}

.flag.flag-pl,
.flag.flag-pol {
    background-position: 0 -121px
}

.flag.flag-pm,
.flag.flag-spm {
    background-position: -16px -121px
}

.flag.flag-pn,
.flag.flag-pcn {
    background-position: -32px -121px
}

.flag.flag-pr,
.flag.flag-pri {
    background-position: -48px -121px
}

.flag.flag-ps,
.flag.flag-pse {
    background-position: -64px -121px
}

.flag.flag-pt,
.flag.flag-prt {
    background-position: -80px -121px
}

.flag.flag-pw,
.flag.flag-plw {
    background-position: -96px -121px
}

.flag.flag-py,
.flag.flag-pry {
    background-position: -112px -121px
}

.flag.flag-qa,
.flag.flag-qat {
    background-position: -128px -121px
}

.flag.flag-re,
.flag.flag-reu {
    background-position: -144px -121px
}

.flag.flag-ro,
.flag.flag-rou {
    background-position: -160px -121px
}

.flag.flag-rs,
.flag.flag-srb {
    background-position: -176px -121px
}

.flag.flag-ru,
.flag.flag-rus {
    background-position: -192px -121px
}

.flag.flag-rw,
.flag.flag-rwa {
    background-position: -208px -121px
}

.flag.flag-sa,
.flag.flag-sau {
    background-position: -224px -121px
}

.flag.flag-sb,
.flag.flag-slb {
    background-position: -240px -121px
}

.flag.flag-sc,
.flag.flag-syc {
    background-position: 0 -132px
}

.flag.flag-scotland {
    background-position: -16px -132px
}

.flag.flag-sd,
.flag.flag-sdn {
    background-position: -32px -132px
}

.flag.flag-se,
.flag.flag-swe {
    background-position: -48px -132px
}

.flag.flag-sg,
.flag.flag-sgp {
    background-position: -64px -132px
}

.flag.flag-sh,
.flag.flag-shn {
    background-position: -80px -132px
}

.flag.flag-si,
.flag.flag-svn {
    background-position: -96px -132px
}

.flag.flag-sk,
.flag.flag-svk {
    background-position: -112px -132px
}

.flag.flag-sl,
.flag.flag-sle {
    background-position: -128px -132px
}

.flag.flag-sm,
.flag.flag-smr {
    background-position: -144px -132px
}

.flag.flag-sn,
.flag.flag-sen {
    background-position: -160px -132px
}

.flag.flag-so,
.flag.flag-som {
    background-position: -176px -132px
}

.flag.flag-somaliland {
    background-position: -192px -132px
}

.flag.flag-sr,
.flag.flag-sur {
    background-position: -208px -132px
}

.flag.flag-ss {
    background-position: -224px -132px
}

.flag.flag-st,
.flag.flag-stp {
    background-position: -240px -132px
}

.flag.flag-sv,
.flag.flag-slv {
    background-position: 0 -143px
}

.flag.flag-sy,
.flag.flag-syr {
    background-position: -16px -143px
}

.flag.flag-sz,
.flag.flag-swz {
    background-position: -32px -143px
}

.flag.flag-tc,
.flag.flag-tca {
    background-position: -48px -143px
}

.flag.flag-td,
.flag.flag-tcd {
    background-position: -64px -143px
}

.flag.flag-tf,
.flag.flag-atf {
    background-position: -80px -143px
}

.flag.flag-tg,
.flag.flag-tgo {
    background-position: -96px -143px
}

.flag.flag-th,
.flag.flag-tha {
    background-position: -112px -143px
}

.flag.flag-tj,
.flag.flag-tjk {
    background-position: -128px -143px
}

.flag.flag-tk,
.flag.flag-tkl {
    background-position: -144px -143px
}

.flag.flag-tl,
.flag.flag-tls {
    background-position: -160px -143px
}

.flag.flag-tm,
.flag.flag-tkm {
    background-position: -176px -143px
}

.flag.flag-tn,
.flag.flag-tun {
    background-position: -192px -143px
}

.flag.flag-to,
.flag.flag-ton {
    background-position: -208px -143px
}

.flag.flag-tr,
.flag.flag-tur {
    background-position: -224px -143px
}

.flag.flag-tt,
.flag.flag-tto {
    background-position: -240px -143px
}

.flag.flag-tv,
.flag.flag-tuv {
    background-position: 0 -154px
}

.flag.flag-tw,
.flag.flag-twn {
    background-position: -16px -154px
}

.flag.flag-tz,
.flag.flag-tza {
    background-position: -32px -154px
}

.flag.flag-ua,
.flag.flag-ukr {
    background-position: -48px -154px
}

.flag.flag-ug,
.flag.flag-uga {
    background-position: -64px -154px
}

.flag.flag-um {
    background-position: -80px -154px
}

.flag.flag-us,
.flag.flag-usa {
    background-position: -96px -154px
}

.flag.flag-uy,
.flag.flag-ury {
    background-position: -112px -154px
}

.flag.flag-uz,
.flag.flag-uzb {
    background-position: -128px -154px
}

.flag.flag-va,
.flag.flag-vat {
    background-position: -144px -154px
}

.flag.flag-vc,
.flag.flag-vct {
    background-position: -160px -154px
}

.flag.flag-ve,
.flag.flag-ven {
    background-position: -176px -154px
}

.flag.flag-vg,
.flag.flag-vgb {
    background-position: -192px -154px
}

.flag.flag-vi,
.flag.flag-vir {
    background-position: -208px -154px
}

.flag.flag-vn,
.flag.flag-vnm {
    background-position: -224px -154px
}

.flag.flag-vu,
.flag.flag-vut {
    background-position: -240px -154px
}

.flag.flag-wales {
    background-position: 0 -165px
}

.flag.flag-wf,
.flag.flag-wlf {
    background-position: -16px -165px
}

.flag.flag-ws,
.flag.flag-wsm {
    background-position: -32px -165px
}

.flag.flag-ye,
.flag.flag-yem {
    background-position: -48px -165px
}

.flag.flag-yt,
.flag.flag-myt {
    background-position: -64px -165px
}

.flag.flag-za,
.flag.flag-zaf {
    background-position: -80px -165px
}

.flag.flag-zanzibar {
    background-position: -96px -165px
}

.flag.flag-zm,
.flag.flag-zmb {
    background-position: -112px -165px
}

.flag.flag-zw,
.flag.flag-zwe {
    background-position: -128px -165px
}